
/* Cabecera dinámica modo grande*/
header {
    width:100%;
    height:200px;
	overflow:hidden;
	background:#222421;
    margin-bottom:20px;
    transition-duration: 2s;
}
 
.titulo {
    margin-top: 0px;
}

/* Estilos */
.zonaGit {
    background-color: #4e4f4d;
    padding: 15px;
}

.octocat {
    width: 300px;
}

.profile {
    width: 500px;
}

.paddingTexto {
    padding: 10px;
}

.inverso .p{
    color: #f2f2f2;
}

/* Configuración para el responsive movil */
@media screen and (max-width: 800px){
    .textoTitulo {
        font-size: 10px;
    }
}

